* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  color: whitesmoke;
}

main {
  max-width: 900px;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 999;
  position: relative;
  overflow: hidden;
}

.app-container {
  width: 820px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 0px auto;
}

@media (max-width: 810px) {
  .app-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0;
    height: 100vh;
  }
}

.app-container .player-box {
  position: relative;
  background: #1d2d46;
  width: 50%;
  padding: 30px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

@media (max-width: 810px) {
  .app-container .player-box {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 100vw;
    padding: 80px 30px 30px 30px;
  }
}

.app-container .player-box .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 500px;
}

.app-container .player-box .player .thumbnail img {
  width: 330px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-container .player-box .player .controls {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
}

.app-container .player-box .player .controls #song-name {
  margin-bottom: 20px;
}

.app-container .player-box .player .controls input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.app-container .player-box .player .controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: white;
  border: none;
}

.app-container .player-box .player .controls input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 100%;
  border: none;
}

.app-container .player-box .player .controls input[type=range]:focus {
  outline: none;
}

.app-container .player-box .player .controls .time {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
}

.app-container .player-box .player .controls .buttons {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .player-box .player .controls .buttons img {
  cursor: pointer;
  -webkit-filter: invert(0.9);
          filter: invert(0.9);
}

.app-container .player-box .player .controls .buttons #play {
  width: 50px;
  height: 50px;
}

.app-container .player-box .player .controls .buttons #prev, .app-container .player-box .player .controls .buttons #next {
  width: 25px;
  height: 25px;
}

.app-container .player-box #expand-btn {
  display: none;
  cursor: pointer;
}

.app-container .player-box #expand-btn img {
  width: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 810px) {
  .app-container .player-box #expand-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.app-container .list-box {
  background: #1d2d46;
  position: relative;
  width: 50%;
  padding: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 0;
}

@media (max-width: 810px) {
  .app-container .list-box {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: static;
    width: 100vw;
    z-index: 2;
    padding: 50px 30px;
  }
}

.app-container .list-box .search input {
  color: white;
  width: 90%;
  font-size: 1rem;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: white solid 1px;
}

.app-container .list-box .list-container ul {
  list-style: none;
  width: 350px;
}

@media (max-width: 810px) {
  .app-container .list-box .list-container ul {
    width: 90%;
  }
}

.app-container .list-box .list-container ul li {
  border-radius: 7px;
  padding: 5px 10px;
  margin: 15px 0;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .list-box .list-container ul li span {
  display: block;
}

.app-container .list-box .list-container ul li .artist {
  font-size: 0.9rem;
  color: #c9c9c9;
}

.app-container .list-box .list-container ul li img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.app-container .list-box #collapse-btn {
  display: none;
  cursor: pointer;
}

.app-container .list-box #collapse-btn img {
  width: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 810px) {
  .app-container .list-box #collapse-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.app-container #slide-btn {
  position: absolute;
  top: 0;
  right: -15px;
  background-color: #0f88a7;
  cursor: pointer;
  z-index: 999;
}

@media (max-width: 810px) {
  .app-container #slide-btn {
    display: none;
  }
}

.app-container #slide-btn img {
  width: 15px;
  height: 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

@media (max-width: 810px) {
  .list-active {
    -webkit-transform: translateX(-100%) !important;
            transform: translateX(-100%) !important;
  }
}

.player-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.slide-active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.li-active {
  background-color: black;
}
/*# sourceMappingURL=style.css.map */